body {
    width: 90%;
    margin: 0 auto;
    font: 'Open Sans', sans-serif;
}

.carousel-inner img {
    width: 100%;
}

#navbar {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

#navop {
    display: inline;
}


#null {
    color: rgba(255, 255, 255, 0);
}